html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

[hidden], template {
  display: none; }

@font-face {
  font-family: IntroBoldAlt;
  src: url(Fonts/IntroBoldAlt.otf); }
@font-face {
  font-family: IntroRegularAlt;
  src: url(Fonts/IntroRegularAlt.otf); }
@font-face {
  font-family: IntroSemiBoldAlt;
  src: url(Fonts/IntroSemiBoldAlt.otf); }
@font-face {
  font-family: FSMeProRegular;
  src: url(Fonts/FSMePro-Regular.otf); }
.header {
  background-image: url("../img/KNGF_SPUP_header_mobile_blub.png");
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 17em; }
  .header .pet:hover {
    cursor: grab !important; }
  .header .mb-prof {
    position: absolute;
    right: 0;
    width: 13em; }
  .header .spup_logo {
    width: 6em; }
  .header .carousel {
    width: 100%;
    background: #EEE; }
  .header .carousel-cell {
    width: 100%;
    height: 20em;
    margin-right: 10px;
    border-radius: 5px; }
  .header .static-banner {
    position: absolute;
    z-index: 1;
    top: 0; }
  .header .flickity-slider {
    transform: none !important; }
  .header .carousel-cell {
    left: 0 !important;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1; }
  .header .carousel-cell.is-selected {
    opacity: 1;
    z-index: 0; }

@media (min-width: 1200px) {
  .header {
    background-image: url("../img/KNGF_header_blub.png") !important;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.25rem;
    color: #ffc72c;
    font-family: IntroRegularAlt;
    /* white circles */
    /* white circles */
    /* fill-in selected dot */ }
    .header .quote {
      text-align: left !important;
      position: absolute;
      top: 5em !important;
      color: white;
      font-size: 1.75em; }
    .header .spup_logo {
      width: 7em; }
    .header .carousel {
      width: 100%;
      background: #EEE; }
    .header .carousel-cell {
      width: 100%;
      height: 20em;
      border-radius: 5px; }
    .header .flickity-page-dots {
      position: absolute;
      top: 12.5em !important;
      width: 10em !important;
      text-align: left !important;
      display: block !important;
      margin-left: 9em; }
    .header .flickity-page-dots .dot {
      width: 12px;
      height: 12px;
      opacity: 1 !important;
      background-color: white !important; }
    .header .flickity-page-dots .dot.is-selected {
      background: #ffc72c !important; } }
@media (min-width: 992px) {
  .header {
    background-image: url("../img/KNGF_header_blub.png") !important;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18em !important;
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.25rem;
    color: #ffc72c;
    font-family: IntroRegularAlt;
    /* white circles */
    /* white circles */
    /* fill-in selected dot */ }
    .header .quote {
      text-align: left !important;
      position: absolute;
      bottom: 40px;
      color: white;
      font-size: 1.5em !important; }
    .header .spup_logo {
      width: 7em; }
    .header .carousel {
      width: 100%;
      background: #EEE; }
    .header .carousel-cell {
      width: 100%;
      height: 20em;
      border-radius: 5px; }
    .header .flickity-page-dots {
      position: absolute;
      top: 15em;
      width: 10em !important;
      text-align: left !important;
      display: block !important; }
    .header .flickity-page-dots .dot {
      width: 12px;
      height: 12px;
      opacity: 1 !important;
      background-color: white !important; }
    .header .flickity-page-dots .dot.is-selected {
      background: #ffc72c !important; } }
@media (min-width: 576px) {
  .header {
    background-image: url("../img/KNGF_SPUP_header_mobile_blub.png");
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 22em; }
    .header .mb-prof {
      position: absolute;
      right: 0;
      width: 16em; }
    .header .spup_logo {
      width: 7em; }
    .header .flickity-page-dots {
      display: none; } }
@media (max-width: 575px) {
  .header {
    background-position-y: 100%;
    background-position-x: 100%; }

  .flickity-page-dots {
    display: none; } }
.story .story_img {
  box-shadow: 2px 2px 15px 4px rgba(0, 0, 0, 0.21);
  border-radius: 100%; }
.story .story-item {
  margin-bottom: 2.5em; }
  .story .story-item .story_header {
    text-align: center;
    font-family: IntroBoldAlt;
    color: #6D2077;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1em; }
  .story .story-item .story_txt {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: FSMeProRegular, "sans-serif"; }
  .story .story-item a {
    font-family: IntroBoldAlt;
    color: #6D2077; }

.form_container {
  background-color: #FFC72C;
  text-align: center; }
  .form_container .form_heading {
    color: #6d2077;
    text-align: center;
    font-family: IntroBoldAlt;
    margin-bottom: 0; }
  .form_container .inner_form {
    max-width: 600px; }
  .form_container .form_txt {
    color: #6d2077;
    font-family: IntroRegularAlt;
    font-size: 1em; }
  .form_container .btn-primary {
    background-color: #6d2077;
    border-radius: 15px;
    color: white;
    font-family: FSMeProRegular, "sans-serif";
    font-weight: bold;
    outline: 0;
    border: 0;
    width: 100%; }
  .form_container .btn-primary:hover {
    background-color: #4f1657;
    color: white; }
  .form_container .btn-primary:focus {
    background-color: #4f1657 !important;
    outline: none !important;
    box-shadow: none !important; }
  .form_container .form-field {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    font-family: IntroRegularAlt; }
  .form_container .input_email {
    border: none; }
  .form_container .is-invalid-input:not(:focus)::placeholder {
    color: #c60f13 !important; }
  .form_container .is-visible {
    display: block !important; }
  .form_container .form-error {
    display: none;
    margin-top: .5rem;
    font-size: .75rem;
    font-weight: 700;
    color: #c60f13; }

.spup {
  position: relative;
  width: 100%;
  background-color: #F5F5F5; }
  .spup .spup_header {
    color: #6D2077;
    font-family: IntroBoldAlt;
    margin-bottom: 0.5em; }
  .spup .spup_paragraph {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: FSMeProRegular, "sans-serif";
    text-align: left; }
  .spup .emph {
    color: #6D2077; }
  .spup .btn-primary {
    background-color: #FFC72C;
    border-radius: 15px;
    color: #6D2077;
    font-family: FSMeProRegular, "sans-serif";
    font-weight: bold;
    outline: 0;
    border: 0;
    width: 10em; }
  .spup .link {
    color: #6D2077;
    text-decoration: underline; }
  .spup .btn-primary:focus {
    background-color: #FFC72C !important;
    outline: none !important;
    box-shadow: none !important; }

.weapon_header {
  color: #6D2077;
  font-family: IntroBoldAlt;
  font-size: 1.8em; }

.nobel-img {
  border-radius: 100%;
  padding: 0.5em 0.5em;
  margin-bottom: 1em !important;
  width: 75%; }

.footer {
  background-color: #e7e2d9;
  height: auto; }
  .footer .kngf_brand {
    margin-bottom: 1em; }
    .footer .kngf_brand img {
      width: 120%;
      margin-top: -5px; }
    .footer .kngf_brand p {
      font-size: 1.1rem;
      color: #652770;
      font-weight: bold; }
  .footer .footer-item__heading {
    margin-bottom: 1rem;
    color: #b293b8;
    font-size: 1.25rem;
    font-family: IntroSemiBoldAlt;
    font-weight: bold; }
  .footer .footer-item__navigation {
    font-size: .9rem;
    font-family: FSMeProRegular; }
    .footer .footer-item__navigation ul {
      margin: 0 0 -.5rem;
      padding: 0;
      list-style: none; }
    .footer .footer-item__navigation li {
      padding-bottom: 0.5rem; }
    .footer .footer-item__navigation a,
    .footer .footer-item__navigation span {
      display: block;
      text-decoration: none;
      color: #652770; }
  .footer .footer-item__navigation--flex {
    margin-bottom: -.5rem; }
    .footer .footer-item__navigation--flex ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -5px -.5rem; }
      .footer .footer-item__navigation--flex ul li {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        padding: 0 5px .5rem; }
  .footer .footer-item__navigation--statements {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .footer .footer-item__navigation--statements ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .footer .footer-item__navigation--statements ul li {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        padding: 0 20px 0.5rem; }
  .footer .footer-item__navigation--arrow-list a:before {
    content: "";
    display: inline-block;
    width: .6rem;
    height: .6rem;
    margin-right: .5rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46 46'%3E%3Cpath fill='%23652770' d='M11.003 40.094c-1.338 1.352-1.338 3.54 0 4.893 1.336 1.35 3.506 1.352 4.844 0l19.15-19.54c1.338-1.35 1.338-3.542 0-4.894l-19.15-19.54c-1.338-1.35-3.506-1.35-4.844 0S9.665 4.556 11 5.908L26.707 23 11.003 40.094z'/%3E%3C/svg%3E");
    background-size: cover;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .footer .footer-item__navigation--arrow-list a:focus:before,
  .footer .footer-item__navigation--arrow-list a:hover:before {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px); }

.footer-item__icon {
  width: 100%;
  max-width: 1.25rem;
  height: 100%;
  max-height: 1.25rem; }

.footer-rights {
  margin: 0;
  color: #652770 !important;
  font-size: .9rem; }
  .footer-rights a {
    text-decoration: underline;
    color: #652770; }
