<!doctype html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--	FAVICONS	-->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Sponsor een Pup - Help een pup geleidehond worden</title>

    <meta name="title" content="Sponsor een Pup - Help een pup geleidehond worden">
    <meta name="description" content="Ontdek meer over de training van de KNGF-pups en welk verschil een geleidehond maakt in het leven van mensen met een beperking.">
    <meta NAME="robots" CONTENT="INDEX, NOFOLLOW">

    <!-- Facebook Open Graph meta -->

    <meta property="og:url" content="https://vertelmeer.sponsoreenpup.nl/" />

    <meta property="og:type" content="website" />

    <meta property="og:title" content="Sponsor een Pup - Help een pup geleidehond worden" />
    <meta property="og:description" content="Ontdek meer over de training van de KNGF-pups en welk verschil een geleidehond maakt in het leven van mensen met een beperking." />
    <meta property="og:site_name" content="sponsoreenpup" />
    <meta property="og:locale" content="nl" />
    <meta property="og:image" content="https://sponsoreenpup.nl/assets/frontend/images/og-image.jpg" />
    <meta property="fb:app_id" content="" />


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Sponsor een Pup - Help een pup geleidehond worden" />
    <meta name="twitter:description" content="Ontdek meer over de training van de KNGF-pups en welk verschil een geleidehond maakt in het leven van mensen met een beperking." />
    <meta name="twitter:site" content="https://vertelmeer.sponsoreenpup.nl/" />
    <meta name="twitter:image" content="https://sponsoreenpup.nl/assets/frontend/images/og-image.jpg" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M9GWBGJ');
    </script>

    <link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/lib/flickity/flickity.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125342320-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-125342320-1');
    </script>


</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9GWBGJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    {% include 'partials/header.html.twig' %}
    {% include 'partials/story.html.twig' %}
    {% include 'partials/form.html.twig' %}
    {% include 'partials/spup.html.twig' %}
    {% include 'partials/footer.html.twig' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/lib/bootstrap/js/bootstrap.js"></script>
    <script src="assets/lib/flickity/flickity.min.js"></script>
    <script src="assets/lib/abide/foundation.min.js"></script>
    <script src="assets/lib/abide/what-input.js"></script>
    <script src="assets/js/form-validation.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>