<div class="footer">
<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col-12 col-md-6 kngf_brand">
            <div class="row">
                <div class="col-5 col-md-3">
                    <img src="assets/img/Initiatief_KNGF_Badge_RGB.svg" class="logo-kngf">
                </div>
                <div class="col-7">
                    <p>Sponsor een pup is een initiatief van KNGF Geleidehonden</p>
                </div>
            </div>

        </div>
        <div class="col-6 col-md-3">
                <div class="footer-item">
                    <h2 class="footer-item__heading heading">Sponsor een pup</h2>
                    <div class="footer-item__navigation footer-item__navigation--arrow-list">
                        <ul>
                            <li class="first"><a target="_blank" href="https://sponsoreenpup.nl/zo-werkt-het">Zo werkt het</a>
                            </li>
                            <li class="last"><a target="_blank" href="https://sponsoreenpup.nl/inloggen">Inloggen</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="row">
                <div class="col-12">
                    <div class="footer-item" style="padding-bottom: 18px;">
                        <h2 class="footer-item__heading heading">Volg ons op</h2>
                        <div class="footer-item__navigation footer-item__navigation--flex">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/KNGFGeleidehonden/" target="_blank">
                                        <svg class="footer-item__icon" viewBox="0 0 11 25"><title>facebook</title><path d="M7.353 25h-4.41V12.5H0V8.192h2.942l-.005-2.54C2.937 2.14 3.835 0 7.732 0h3.245v4.31H8.95c-1.52 0-1.592.6-1.592 1.724L7.352 8.19H11l-.43 4.31H7.355L7.353 25z" fill="#652770" fill-rule="evenodd"></path></svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/kngfgeleidehonden/" target="_blank">
                                        <svg class="footer-item__icon" viewBox="0 0 860 1000"><title>instagram</title><path d="M690 500c0-17.333-2-34-6-50h176v344c0 37.333-13 69.333-39 96s-57.667 40-95 40H134c-37.333 0-69-13.333-95-40S0 831.333 0 794V450h174c-2.667 21.333-4 38-4 50 0 70.667 25.333 131.667 76 183s112 77 184 77c70.667 0 131.667-25.667 183-77s77-112.333 77-183m36-430c37.333 0 69 13 95 39s39 57.667 39 95v146H642c-52-73.333-122.667-110-212-110-92 0-162.667 36.667-212 110H0V204c0-37.333 13-69 39-95s57.667-39 95-39h592m64 166v-72c0-16-8-24-24-24h-72c-16 0-24 8-24 24v72c0 5.333 2.333 10.667 7 16s10.333 8 17 8h72c16 0 24-8 24-24M590 500c0 44-15.667 81.667-47 113s-69 47-113 47-81.667-15.667-113-47-47-69-47-113c0-45.333 15.667-83.333 47-114s69-46 113-46 81.667 15.333 113 46 47 68.667 47 114" fill="#652770"></path></svg>

                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/kngfgeleidehond" target="_blank">
                                        <svg class="footer-item__icon" viewBox="0 0 25 21"><title>twitter</title><path d="M25 2.486c-.92.42-1.908.707-2.946.835A5.283 5.283 0 0 0 24.309.389a10.103 10.103 0 0 1-3.258 1.286A5.039 5.039 0 0 0 17.308 0c-2.832 0-5.13 2.374-5.13 5.3 0 .417.047.82.134 1.21C8.05 6.288 4.27 4.178 1.742.97a5.4 5.4 0 0 0-.696 2.666c0 1.84.905 3.462 2.282 4.412a4.977 4.977 0 0 1-2.323-.663v.067c0 2.57 1.767 4.71 4.114 5.198a4.958 4.958 0 0 1-2.318.091c.653 2.107 2.547 3.64 4.792 3.683a10.082 10.082 0 0 1-7.594 2.195A14.192 14.192 0 0 0 7.862 21c9.434 0 14.593-8.078 14.593-15.084 0-.23-.005-.458-.014-.686a10.596 10.596 0 0 0 2.56-2.744" fill="#652770" fill-rule="evenodd"></path></svg>

                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/user/KNGFGeleidehonden" target="_blank">
                                        <svg class="footer-item__icon" viewBox="0 0 30 35"><title>youtube</title><g fill="#652770" fill-rule="evenodd"><path d="M17.757 22.327c-.296 0-.594.14-.893.426v5.923c.3.293.597.435.893.435.514 0 .778-.434.778-1.31v-4.145c0-.88-.264-1.328-.778-1.328m5.633 1.348v.9h1.784v-.9c0-.902-.3-1.35-.89-1.35-.596 0-.894.448-.894 1.35z"></path><path d="M26.96 26.037h-3.57v1.722c0 .9.298 1.35.91 1.35.442 0 .698-.236.8-.707.015-.094.04-.488.04-1.193h1.82v.258c0 .564-.023.956-.036 1.132-.06.39-.203.742-.418 1.055-.496.704-1.228 1.054-2.163 1.054-.932 0-1.643-.335-2.16-1-.378-.484-.573-1.252-.573-2.282v-3.403c0-1.038.173-1.795.552-2.287.517-.665 1.228-.996 2.14-.996.896 0 1.607.33 2.108.996.372.492.55 1.25.55 2.287v2.012zm-6.64 1.625c0 .897-.063 1.543-.183 1.956-.236.723-.716 1.09-1.425 1.09-.636 0-1.25-.346-1.848-1.074v.94h-1.787V17.54h1.787v4.256c.578-.7 1.19-1.054 1.848-1.054.71 0 1.186.37 1.425 1.096.12.394.182 1.033.182 1.954v3.87zm-6.787 2.913h-1.787v-1.062c-.71.802-1.386 1.196-2.04 1.196-.576 0-.973-.232-1.154-.724-.096-.295-.157-.76-.157-1.446v-7.677h1.787v7.148c0 .414 0 .63.013.685.046.274.184.416.42.416.36 0 .734-.273 1.13-.825v-7.422h1.788v9.712zm-7.042 0H4.504V19.372h-2.1V17.54H8.63v1.832H6.49v11.203zM25.04 14.43c-4.123-.287-10.305-.287-10.305-.287-.013 0-6.195 0-10.32.288-.575.07-1.827.075-2.95 1.227-.882.878-1.17 2.868-1.17 2.868S0 20.863 0 23.2v2.193c0 2.337.293 4.677.293 4.677s.288 1.99 1.17 2.866c1.123 1.152 2.593 1.115 3.246 1.236 2.358.224 10.02.29 10.02.29s6.185-.01 10.308-.303c.575-.067 1.832-.072 2.954-1.224.882-.875 1.17-2.866 1.17-2.866s.292-2.34.292-4.677V23.2c0-2.337-.293-4.675-.293-4.675s-.286-1.99-1.168-2.868c-1.122-1.154-2.38-1.157-2.954-1.226zm-15.028-1.26V7.834L12.42 0h-2.025L9.03 5.172 7.61 0H5.5c.424 1.22.863 2.448 1.284 3.67.642 1.836 1.04 3.22 1.225 4.165v5.334h2.002zm3.835-6.97c0-.91.28-1.363.863-1.363.578 0 .857.455.857 1.363v4.128c0 .91-.28 1.36-.857 1.36-.583 0-.863-.45-.863-1.36V6.2zm.863 7.107c.902 0 1.603-.337 2.104-1.005.378-.49.56-1.262.56-2.308v-3.44c0-1.046-.182-1.814-.56-2.308-.5-.673-1.202-1.007-2.104-1.007-.903 0-1.606.333-2.102 1.006-.386.494-.564 1.262-.564 2.308v3.44c0 1.046.178 1.82.564 2.308.496.668 1.2 1.005 2.102 1.005zm9.24-.137V3.354h-1.805v7.504c-.398.553-.777.832-1.14.832-.242 0-.385-.145-.422-.418-.022-.058-.022-.273-.022-.69v-7.23h-1.8v7.765c0 .69.06 1.16.16 1.458.182.495.583.73 1.164.73.656 0 1.343-.396 2.06-1.208v1.07h1.805z"></path></g></svg>

                                    </a>
                                </li>
                                <li>
                                    <a href="https://nl.pinterest.com/kngfgeleidehond/" target="_blank">
                                        <svg class="footer-item__icon" viewBox="0 0 20 25"><title>pinterest</title><path d="M17.406 2.562C15.656.91 13.23 0 10.58 0 6.534 0 4.045 1.63 2.67 2.998.972 4.683 0 6.92 0 9.138c0 2.782 1.185 4.918 3.17 5.713.132.054.266.08.397.08.42 0 .75-.268.866-.7.067-.247.222-.858.29-1.123.144-.524.027-.776-.288-1.14-.574-.668-.84-1.457-.84-2.483 0-3.05 2.31-6.29 6.594-6.29 3.397 0 5.51 1.898 5.51 4.952 0 1.928-.424 3.713-1.19 5.028-.535.913-1.473 2.002-2.913 2.002-.623 0-1.182-.252-1.535-.69-.334-.414-.444-.95-.31-1.507.152-.63.358-1.288.558-1.924.365-1.16.71-2.256.71-3.13 0-1.496-.936-2.5-2.33-2.5-1.77 0-3.156 1.765-3.156 4.02 0 1.106.3 1.933.434 2.25-.223.93-1.548 6.448-1.8 7.488-.144.608-1.02 5.405.43 5.788 1.628.43 3.083-4.243 3.23-4.77.12-.43.542-2.054.8-3.053.785.743 2.05 1.246 3.282 1.246 2.322 0 4.41-1.026 5.88-2.89C19.215 13.698 20 11.18 20 8.412c0-2.163-.945-4.295-2.594-5.85" fill="#652770" fill-rule="evenodd"></path></svg>

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="footer-item">
                        <h2 class="footer-item__heading heading">Contact</h2>
                        <div class="footer-item__navigation">
                            <ul>
                                <li>
                                    <a href="mailto:info@geleidehond.nl">info@geleidehond.nl</a>
                                </li>
                                <li>
                                    <span>020 - 496 93 33</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row mt-5 pt-5">
    <div class="col-12 col-md-6 mb-3">
        <div class="footer-item">
            <p class="footer-rights">
                © 2018
                <a href="https://geleidehond.nl" target="_blank">KNGF Geleidehonden.</a>
                Alle rechten voorbehouden.</p>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="footer-item__navigation footer-item__navigation--statements">
            <ul>
                <li>
                    <a href="https://www.geleidehond.nl/pagina/disclaimer" target="_blank">Disclaimer</a>
                </li>
                <li>
                    <a href="https://www.geleidehond.nl/pagina/privacy-statement" target="_blank">Privacy statement</a>
                </li>
                <li>
                    <a href="https://www.geleidehond.nl/pagina/cookieverklaring" target="_blank">Cookieverklaring</a>
                </li>
                <li>
                    <img src="https://sponsoreenpup.nl/assets/frontend/images/cbf.png" alt="CBF Keurmerk" aria-hidden="true">
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>