<div class="form_container container p-4">
{# TODO: Remove Inline CSS and Whitespace #}
    <div class="container inner_form">
        <div class="row">

            <div class="col-12">
                <h2 class="form_heading mb-2 pb-lg-0">Wil je meer weten? </h2>
            </div>
            <div class="col-12">
                <p class="form_txt">Ontdek meer over de training van onze pups en welk verschil een geleidehond maakt
                    in het leven van mensen zoals Sylvana en Margreet.</p>
            </div>
            <div class="col-12 col-sm-7 col-md-7 col-lg-8">
                <form data-abide novalidate id="subscribeForm" class="form-inline" method="POST" action="javascript:void(0)">
                {% for utm_item in utm %}
                    {% if GET[utm_item] is defined %}
                        <input type="hidden" name={{utm_item}} value={{GET[utm_item]}}>
                    {% else %}
                        {% set GET = GET|merge({(utm_item): ''}) %} 
                    {% endif %}
                {% endfor %}
                    <input required data-validator="email" name="email" id="email" placeholder="vul hier je e-mailadres in"
                        class="form-field input_email" type="email">
                    <span id="error2" class="form-error"></span>
            </div>
            <div class="col-12 col-sm-5 col-md-5 col-lg-4 text-center text-sm-left">
                <button type="submit" id="submitbtn" class="btn btn-primary mt-3 mt-sm-0 vertel_meer">Vertel me meer ></button>
                </form>
            </div>

        </div>
    </div>
</div>