<div class="header">
    <div class="container-fluid px-0">
        <div class="main-carousel">
            <div class="container">
                <div class="static-banner"><img src="assets/img/spuplogo_p7s.gif" alt="SPUP logo" class="spup_logo"></div>
            </div>
            <div class="carousel-cell">
              <img src="assets/img/KNGF_SPUP_header_mobile_photos_001_syl.png" alt="Foto Sylvana" class="img-fluid mb-prof d-lg-none">
                <div class="container">
                    <div class="row justify-content-lg-between justify-content-end">
                        <div class="d-none d-lg-block col-12 col-md-1 col-lg-6 col-xl-5 offset-xl-2">
                            <p class="quote">"Zijn zorgzaamheid ontroert me"</p>
                        </div>
                        <div class="col-12 col-md-5 col-lg-5 col-xl-4">
                            <img src="assets/img/KNGF_SPUP_header_desktop_photos_001_syl.png" alt="Foto Sylvana" class="pet img-fluid d-none d-lg-block">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
               <img src="assets/img/KNGF_SPUP_header_mobile_photos_002_mar.png" alt="Foto Margreet" class="img-fluid mb-prof d-lg-none">
                <div class="container">
                           <div class="row justify-content-between">
                        <div class=" d-none d-lg-block col-4 col-md-1 col-lg-6 col-xl-5 offset-xl-2">
                            <p class="quote">"Met Chubby stap ik er gewoon op af"</p>
                        </div>
                        <div class="col-4 col-md-8 col-lg-5 col-xl-4">
                            <img src="assets/img/_KNGF_SPUP_header_desktop_photos_002_mar.png" alt="Foto Margreet" class="pet img-fluid d-none d-lg-block">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
               <img src="assets/img/KNGF_SPUP_header_mobile_photos_003_tra.png" alt="Foto KNGF geleiden honden trainer" class="img-fluid mb-prof d-lg-none">
                <div class="container">
                           <div class="row justify-content-between">
                        <div class="d-none d-lg-block col-4 col-md-1 col-lg-6 col-xl-5 offset-xl-2">
                            <p class="quote">"Een pup opleiden kost veel liefde, aandacht en geduld"</p>
                        </div>
                        <div class="col-4 col-md-8 col-lg-5 col-xl-4">
                            <img src="assets/img/KNGF_SPUP_header_desktop_photos_003_tra.png" alt="Foto KNGF geleiden honden trainer" class="pet img-fluid d-none d-lg-block">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>