<div class="container mt-5 pt-5 px-4 pb-0">
    <h2 class="weapon_header text-center mb-5">Geleidehonden opgeleid en gematcht in 2017</h2>
    <div class="row">
        <div class="col-12 col-md-6 text-center weapon mt-4">
            <img src="assets/img/infographic_dog2.png" alt="Infograpgic Geleidehonden opgeleid" class="img-fluid">
        </div>
        <div class="col-12 col-md-6 text-center weapon mt-4">
            <img src="assets/img/infographic_dog.png"  alt="Infograpgic Geleidehonden gematcht" class="img-fluid d-none d-lg-block">
            <img src="assets/img/infographic_dog_mob.png" alt="Infograpgic Geleidehonden gematcht" class="img-fluid d-lg-none">
        </div>
    </div>
</div>
<div class="spup py-4">
<div class="container py-5 px-4 pb-4">
    <div class="row">
        <div class="col-12 col-md-8 spup">
            <h2 class="spup_header">Sponsor een Pup</h2>
            <p class="spup_paragraph">Geleidehonden maken het verschil voor Sylvana en Margreet. Zij kunnen weer vooruit in het leven. Wij gunnen nog meer mensen de voordelen van een geleidehond. Daar hebben we hulp bij nodig, want onze lieve pups worden niet vanzelf knappe geleidehonden. Het opvoeden en opleiden van pups gaat gepaard met veel liefde, aandacht en heel veel trainingsuren. Benieuwd hoe wij te werk gaan en meehelpen om geleidehonden op te leiden? <a target="_blank" class="link" id="sponsor_pup" href="https://sponsoreenpup.nl/puppy/nobel">Sponsor dan een pup!</a> Volg alle avonturen, leermomenten en vier alle mijlpalen met ons mee via zijn unieke dagboek!</p>
            <p class="spup_paragraph">Sponsor bijvoorbeeld Nobel! Dit zonnetje in huis is van de zomer geboren en heeft het vooral druk met spelen, eten en veel slapen. Toch leert hij ook al van alles. Benieuwd? Als sponsor beleef je alles mee.</p>
            <button id="sponsor_nobel" onclick="window.open('https://sponsoreenpup.nl/kies-jouw-pup/nobel?utm_source=GM_a-page&utm_medium=page&utm_campaign=Spup_vertelmemeer&utm_content=nobel','_blank');" class="btn btn-primary spup_button">Sponsor Nobel ></button>
        </div>
        <div class="col-12 col-md-4 text-center order-first order-md-last">
            <img src="assets/img/nobel.jpg" alt="Foto Pup Nobel" class="img-fluid nobel-img">
        </div>
    </div>
</div>
</div>