<div class="story container my-5 py-3">
    <div class="row">
        <div class="col-12 col-md-6 story-item">
           <h2 class="story_header">"Dankzij Arlan verloopt m’n leven veel soepeler"</h2>
            <div class="row">
                <div class="col-12 col-sm-3 order-first text-center px-5 px-sm-0">
                    <img src="assets/img/KNGF_SPUP_content_square_photos_001_syl.png" alt="Foto Sylvana" class="img-fluid story_img my-3 my-sm-0">
                </div>
                <div class="col-12 col-sm-9">
                    <p class="story_txt">Ooit was Sylvana heel afhankelijk van anderen. Dankzij Arlan verloopt haar leven nu veel soepeler. Ze gaan zelfs dagelijks samen naar school. ‘Ik kan me niet meer voorstellen hoe het zonder geleidehond zou zijn.’</p>
                    <a id="shortstory_sylvana" target="_blank" href="https://formulier.geleidehond.nl/spup">Vertel me meer ></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 story-item">
            <h2 class="story_header">"Chubby houdt de boel voor me in de gaten"</h2>
            <div class="row">
                <div class="col-12 col-sm-3 order-first text-center px-5 px-sm-0">
                    <img alt="Foto Margreet" src="assets/img/KNGF_SPUP_content_square_photos_002_mar.png" class="img-fluid story_img my-3 my-sm-0">
                </div>
                <div class="col-12 col-sm-9">
                    <p class="story_txt">  Margreet verloor binnen korte tijd veel van haar gezichtsvermogen door een ziekte. “Dan staat je leven op zijn kop. Chubby maakt me veel zekerder, hij houdt de boel voor me in de gaten.”</p>
                    <a id="shortstory_margreet" target="_blank" href="https://formulier.geleidehond.nl/spup">Vertel me meer ></a>
                </div>
            </div>
        </div>
    </div>
</div>