.footer {
  background-color: #e7e2d9;
  height: auto;

  .kngf_brand {
    margin-bottom: 1em;

    img {
      width: 120%;
      margin-top: -5px;
    }

    p {
      font-size: 1.1rem;
      color: #652770;
      font-weight: bold;
    }
  }

  .footer-item__heading {
    margin-bottom: 1rem;
    color: #b293b8;
    font-size: 1.25rem;
    font-family: IntroSemiBoldAlt;
    font-weight: bold;
  }

  .footer-item__navigation {
    font-size: .9rem;
    font-family: FSMeProRegular;

    ul {
      margin: 0 0 -.5rem;
      padding: 0;
      list-style: none;
    }

    li {
      padding-bottom: .5rem
    }

    a,
    span {
      display: block;
      text-decoration: none;
      color: #652770
    }
  }

  .footer-item__navigation--flex {
    margin-bottom: -.5rem;
    ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -5px -.5rem;

      li {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        padding: 0 5px .5rem;
      }
    }
  }

  .footer-item__navigation--statements {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      li {
        -webkit-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        padding: 0 20px .5rem
      }
    }
  }

  .footer-item__navigation--arrow-list a:before {
    content: "";
    display: inline-block;
    width: .6rem;
    height: .6rem;
    margin-right: .5rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 46 46'%3E%3Cpath fill='%23652770' d='M11.003 40.094c-1.338 1.352-1.338 3.54 0 4.893 1.336 1.35 3.506 1.352 4.844 0l19.15-19.54c1.338-1.35 1.338-3.542 0-4.894l-19.15-19.54c-1.338-1.35-3.506-1.35-4.844 0S9.665 4.556 11 5.908L26.707 23 11.003 40.094z'/%3E%3C/svg%3E");
    background-size: cover;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease
  }

  .footer-item__navigation--arrow-list a:focus:before,
  .footer-item__navigation--arrow-list a:hover:before {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px)
  }
}

.footer-item__icon {
  width: 100%;
  max-width: 1.25rem;
  height: 100%;
  max-height: 1.25rem
}

.footer-rights {
  margin: 0;
  color: #652770 !important;
  font-size: .9rem;

  a {
    text-decoration: underline;
    color: #652770
  }
}