.form_container {
  background-color: #FFC72C;
  // line-height: px;
  text-align: center;
  .form_heading {
    color: #6d2077;
    text-align: center;
    font-family: IntroBoldAlt;
    margin-bottom: 0;
  }
  .inner_form {
    max-width: 600px
  }
  .form_txt {
    color: #6d2077;
    font-family: IntroRegularAlt;
    font-size: 1em;
  }
  .btn-primary {
    background-color: #6d2077;
    border-radius: 15px;
    color: white;
    font-family: FSMeProRegular, "sans-serif";
    font-weight: bold;
    outline: 0;
    border: 0;
    width: 100%;
  }
  .btn-primary:hover {
    background-color: #4f1657;
    color: white;
  }
  .btn-primary:focus {
    background-color: #4f1657 !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .form-field {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    font-family: IntroRegularAlt;
  }
  .input_email {
    border: none;
  }
  .is-invalid-input:not(:focus)::placeholder {
    color: #c60f13 !important;
}
.is-visible {
  display: block !important;
}
.form-error {
  display: none;
  margin-top: .5rem;
  font-size: .75rem;
  font-weight: 700;
  color: #c60f13;
}
}