.header {
  background-image: url("../img/KNGF_SPUP_header_mobile_blub.png");
  background-position-y: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 17em;
  .pet:hover {
    cursor: grab !important;
  }
  .mb-prof {
    position: absolute;
    right: 0;
    width: 13em;
  }
  .spup_logo {
    width: 6em;
  }
  .carousel {
    width: 100%;
    background: #EEE;
  }
  
  .carousel-cell {
    width: 100%;
    height: 20em;
    margin-right: 10px;
    border-radius: 5px;
  }
  .static-banner {
    position: absolute;
    z-index: 1;
    // pointer-events: none;
    top: 0;
  }
  
  .flickity-slider {
    transform: none !important;
  }
  
  .carousel-cell {
    left: 0 !important;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
  }
  
  .carousel-cell.is-selected {
    opacity: 1;
    z-index: 0
  }
}
@media (min-width: 1200px) { 

  .header {

    background-image: url("../img/KNGF_header_blub.png") !important;
    background-position-y: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.25rem;
    color: #ffc72c;
    font-family: IntroRegularAlt;
    .quote {
      text-align: left !important;
      position: absolute; 
      top: 5em !important; 
      color: white; 
      font-size: 1.75em;
    }
    .spup_logo {
      width: 7em;
    }
    .carousel {
      width: 100%;
      background: #EEE;
    }
    
    .carousel-cell {
      width: 100%;
      height: 20em;
      border-radius: 5px;
    }
    /* white circles */
    .flickity-page-dots {
      position: absolute;
      top: 12.5em !important;
      width: 10em !important;
      text-align: left !important;
      display: block !important;
      margin-left: 9em;
    }
    /* white circles */
    .flickity-page-dots .dot {
      width: 12px;
      height: 12px;
      opacity: 1 !important;
      background-color: white !important;
    
    }
    /* fill-in selected dot */
    .flickity-page-dots .dot.is-selected {
      background: #ffc72c !important;
    }
  }
  
 }
@media (min-width: 992px) { 

  .header {
    background-image: url("../img/KNGF_header_blub.png") !important;
    background-position-y: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 18em !important;
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.25rem;
    color: #ffc72c;
    font-family: IntroRegularAlt;
    .quote {
      text-align: left !important;
      position: absolute; 
      bottom: 40px; 
      color: white; 
      font-size: 1.5em !important;
    }
    .spup_logo {
      width: 7em;
    }
    .carousel {
      width: 100%;
      background: #EEE;
    }
    
    .carousel-cell {
      width: 100%;
      height: 20em;
      border-radius: 5px;
    }
    /* white circles */
    .flickity-page-dots {
      position: absolute;
      top: 15em;
      width: 10em !important;
      text-align: left !important;
      display: block !important;
    }
    /* white circles */
    .flickity-page-dots .dot {
      width: 12px;
      height: 12px;
      opacity: 1 !important;
      background-color: white !important;
    
    }
    /* fill-in selected dot */
    .flickity-page-dots .dot.is-selected {
      background: #ffc72c !important;
    }
  }
  
 }



 @media (min-width: 576px) { 
  .header {
    background-image: url("../img/KNGF_SPUP_header_mobile_blub.png");
    background-position-y: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 22em;
    .mb-prof {
      position: absolute;
      right: 0;
      width: 16em;
    }
    .spup_logo {
      width: 7em;
    }
    .flickity-page-dots {
      display:none;
    }
  }
 }
 

 @media (max-width: 575px) { 
  .header {
    background-position-y: 100%; 
    background-position-x: 100%; 
  }
   .flickity-page-dots {
      display:none;
    }
 }
 
