.spup {
  position: relative;
  width: 100%;
  background-color: #F5F5F5;
  .spup_header{
    color: #6D2077;
    font-family: IntroBoldAlt;
    margin-bottom: 0.5em;
  }
  .spup_paragraph {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: FSMeProRegular, "sans-serif";
    text-align: left;
  }
  .emph {
    color: #6D2077;
  }
  .btn-primary {
    background-color: #FFC72C;
    border-radius: 15px;
    color: #6D2077;
    font-family: FSMeProRegular, "sans-serif";
    font-weight: bold;
    outline: 0;
    border: 0;
    width: 10em;
  }
  .link {
    color: #6D2077;
    text-decoration: underline;
  }
  .btn-primary:focus {
    background-color: #FFC72C !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
.weapon_header {
  color: #6D2077;
    font-family: IntroBoldAlt;
    font-size: 1.8em;
}

.nobel-img {
  border-radius: 100%;
  padding: 0.5em 0.5em;
  margin-bottom: 1em !important;
  width: 75%;
}