.story {
  .story_img {
    box-shadow: 2px 2px 15px 4px rgba(0, 0, 0, 0.21);
    border-radius: 100%;
  }
  .story-item{
    margin-bottom: 2.5em;
    .story_header {
      text-align: center;
      font-family: IntroBoldAlt;
      color: #6D2077;
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 1em;
    }
    .story_txt {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      font-family: FSMeProRegular, "sans-serif";
    }
    a {
      font-family: IntroBoldAlt;
      color: #6D2077;
    }
  }
}
